*.csproj
*.dll
*.lib
*.pdb
*.cache
*.xml
*.png
*.jpg
*.nupkg
*.ps1
*.gif
*.exe
*.cache
*.txt
*.user
*.ico
*.transform
*.Log
*.xls
*.doc
*.docx
*.xlsx
/AutekInfo/packages/
/AutekInfo/AutekInfoPortal/obj/
/AutekInfo/AutekInfoPortal/Content/
/AutekInfo/AutekInfoPortal/Scripts/
/AutekInfo/AutekInfoPortal/Content/
/AutekInfo/AutekInfo.DAL/obj/
/AutekInfo/AutekInfoPortal.Tests/obj/
/AutekInfo/AutekInfo.Common/obj/
/AutekInfo/AutekInfo.DBUtility/obj/
/AutekInfo/AutekInfo.Models/obj/
/AutekInfo/AutekInfo.DBUtility/obj/
/AutekInfo/AutekInfo.Models/obj/

