@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/jquery-easyui-1.4.3/themes/default/css")
    @Styles.Render("~/Content/autek/Style/css")
    @Scripts.Render("~/bundles/jquery")
    <title></title>
    <script type="text/javascript">
        $(function () {
            $('#dgemp').datagrid({
                url: '/HRInfo/GetEmpList',
                method:'post',
                rownumbers: true,
                toolbar: [
                   {
                       text: '增加',
                       iconCls: 'pic pic_34',
                       handler: function () {
                           addEmpInfo();

                       }
                   }
                   , '-',
                   {
                       text: '修改',
                       iconCls: 'pic pic_95',
                       handler: function () {
                           var rows = $('#dgemp').datagrid('getSelections');
                           if (rows.length != 1) {
                               parent.$.messager.show({
                                   title: '提示',
                                   msg: '请选择一行编辑！',
                                   timeout: 5000,
                                   showType: 'slide'
                               });
                               $('#dgemp').datagrid('clearSelections');
                           }
                           else {
                               editEmpInfo(rows[0]);
                               $('#dgemp').datagrid('clearSelections');
                           }
                       }
                   }, '-',
                   {
                       text: '取消选中',
                       iconCls: 'pic pic_118',
                       handler: function () {
                           $('#dgemp').datagrid('unselectAll');
                           $('#dgemp').datagrid('clearSelections');
                       }
                   }, '-',
                   {
                       text: '筛选',
                       iconCls: 'pic pic_114',
                       handler: function () {
                           filtEmpInfo();
                       }
                   }, '-',
                   {
                       text: '重置',
                       iconCls:'pic pic_201',
                       handler: function () {
                           strWhere = " emp_isworking='是' and  iseecemp=1 "
                           //strWhere = '1=1';
                           $('#dgemp').datagrid('load', {
                               strWhere: ''
                           });
                           $('#dgemp').datagrid('clearSelections');
                       }
                   }, '-',
                   {
                       text: '导出',
                       iconCls: 'pic pic_202',
                       handler: function () {
                           outputEmpInfo();
                       }
                   }, '-', {
                       text: '批量修改',
                       iconCls: 'pic pic_199',
                       handler: function () {
                           batchEdit();
                       }
                   }
                ],
                frozenColumns: [[
                     //{ field: 'emp_id', title: 'emp_id', checkbox: true },
                     { field: 'emp_id', title: 'emp_id', width: 40, sortable: true },
                     { field: 'emp_worknum', title: '工号', width: 40, sortable: true },
                     {
                         field: 'emp_cnname',
                         title: '姓名',
                         width: 50,
                         align: 'center',
                         sortable: true,
                         formatter: function (value, row, index) {
                             return "<a href='javascript:tdetail(" + value + ")' title='点击查看详细信息'>" + value + "</a>";
                         }
                     },

                     { field: 'emp_dept', title: '部门', width: 80, sortable: true }
                ]],
                columns: [[
                    { field: 'emp_insti', title: '院别', width: 100, sortable: true },
                    { field: 'emp_comp', title: '公司', width: 100, sortable: true },
                    { field: 'emp_entrydate', title: '入职日期', width: 100, sortable: true },
                    { field: 'emp_sex', title: '性别', width: 50, sortable: true },
                    { field: 'emp_title', title: '职位', width: 100, sortable: true },
                    { field: 'emp_workarea', title: '工作地', width: 60, align: 'center', sortable: true },
                    { field: 'emp_identity', title: '身份证', width: 150, sortable: true },
                    { field: 'emp_age', title: '年龄', width: 50, align: 'center', sortable: true },
                    { field: 'emp_phone', title: '手机', width: 100, sortable: true },
                    { field: 'emp_email', title: '邮箱', width: 150, sortable: true }
                ]],
                striped: true,
                sortName: 'emp_worknum',
                pagination: true,
                pageNumber: 1,
                pageSize: parseInt(($(window).height() - 100) / 25),                
               pageList: [4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19, 20,21,22,23,24,25,26,27,28,29, 30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50],
                fit: true,
                fitColumns: false,
                idField: 'emp_id',
                nowrap: true,
                sortOrder: 'desc',
                fitColumns: true,
                loadMsg:'正在努力加载数据...',
                onLoadError: function () {
                    $.messager.alert("错误", "数据加载失败！请跟跟管理员联系！", "warning");
                }                
            });
            $('.datagrid-header div').css('text-align', 'center');
            
        });
    </script>
</head>
<body>
    <table id="dgemp" style="height:auto; "></table>
    
</body>
</html>
