@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmps</title>
</head>
<body>
    <div>
  加载人员信息.
    </div>
</body>
</html>
