@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/jquery-easyui-1.4.3/themes/default/css")
    @Styles.Render("~/Content/autek/Style/css")
    @Scripts.Render("~/bundles/jquery")
    <title></title>
    <script type="text/javascript">
        $(function () {
            $('#auth').combobox({
                url: '/SystemManage/GetAuthoritys',
                editable: false,
                valueField: 'auth_id',
                textField: 'auth_name',
                onChange: function (newValue, oldValue) {
                    $('input[name^="cb_"]').prop('checked', false);
                    $.post(
                       '/SystemManage/GetMenu2Auth?id=' + newValue,
                       function (r) {
                           $(r).each(function (i, n) {
                               $('input[name="' + n.menu_options + '"]').prop('checked', true);
                           });
                           },                       
                       'json'
                       );
                }
            });
            $('#menugrid').treegrid({
                nowrap: true,
                rownumbers: true,
                height: 800,
                url: '/SystemManage/GetMenu2AuthTG',
                idField: 'id',
                treeField: 'menu_name',
                columns: [[
                            {
                                title: '菜单',
                                field: 'menu_name',
                                width: 200
                            },
                            
                             {
                                 title: '菜单权限',
                                 field: 'menu_option',
                                 width: 500
                                 //,
                                 //formatter: function (value, row, index) {
                                 //    return '<input type="checkbox" id="c_' + value + '" name="c_' + value + '" onclick=""></checkbox>';
                                 //}
                             },
                             {
                                 title: '快捷操作',
                                 field: 'id',
                                 width: 100,
                                 align: 'center',
                                 formatter: function (value, row, index) {
                                     return '[<a href="javascript:selall(' + value + ')">全选</a>][<a href="javascript:notall(' + value + ')">不选</a>]';
                                 }
                             }

                ]]
                
            });
            $('.datagrid-header div').css('text-align', 'center');
        });
        function selall(id) {
            $('input[name^="cb_'+id+'_"]').prop('checked', true);
        }
        function notall(id) {
            $('input[name^="cb_' + id + '_"]').prop('checked', false);
        }

        function subauth() {
            var auth_id = $('#auth').combobox('getValue');
            if (auth_id == '') {
                parent.$.messager.show({
                    title: '提示',
                    msg: '没有选择权限！',
                    timeout: 5000,
                    showType: 'slide'
                });
                return;
            }
            var _checked = $('input[name*="cb_"]:checked');
            var param = '';
            $(_checked).each(function () {
                param = param + this.name+ ',';
            });
            if (param.length < 1) {
                parent.$.messager.show({
                    title: '提示',
                    msg: '没有选择菜单项！',
                    timeout: 5000,
                    showType: 'slide'
                });
                return;
            }
            parent.loadblock();
            $.post(
           '/SystemManage/SetMenu2Auth',
           {
               menuids: param,
               auth_id: auth_id
           },
           function (r) {
               if (r >0) {
                   parent.$.unblockUI();
                   parent.$.messager.show({
                       title: '提示',
                       msg: '保存成功！',
                       timeout: 5000,
                       showType: 'slide'
                   });
               } else {
                   parent.$.unblockUI();
                   $.messager.alert('警告', '提交失败！' + r, 'error');
               }
           },
           'text'
           );
        };

        function checkpid(id) {           
            var childs = $('#menugrid').treegrid('getChildren', id);           
            if (childs.length > 0) {                
                if ($('#cb_' + id+'_view').is(':checked')){                   
                    for (var i = 0; i < childs.length; i++) {                        
                        $('#cb_' + childs[i].id + '_view').prop('checked', true);
                        $('cb_1012_view').prop('checked', true);
                    }
                } else {
                    for (var i = 0; i < childs.length; i++) {
                        $('#cb_' + childs[i].id + '_view').removeAttr('checked');
                    }
                }
            }
                var parentrow = $('#menugrid').treegrid('getParent', id);
               
                if (parentrow != null) {
                    if (!$('#cb_' + parentrow.id + '_view').is(':checked')) {
                        $('#cb_' + parentrow.id + '_view').prop('checked', true);
                    }
                }
        };
    </script>
</head>
<body>
    <div>
      <b>选择一个权限：</b>  <input id="auth" name="auth" style="width: 250px;" /> &nbsp;<a id="btn" href="javascript:subauth()" class="easyui-linkbutton"> 保存</a>
    </div>
    <br />
    <div>
        <table id="menugrid"></table>
       
    </div>
    
</body>
</html>
