@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Role2Emp</title>
</head>
<body>
    <div>
        rrrr
    </div>
</body>
</html>
